@{


    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JQuery in .Net Core MVC</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <label>First Value</label>
        <input type="text" name="value1" value="" id="value1" />
    </div>
    

    <div>
        <label>Second Value</label>
        <input type="text" name="value2" value="" id="value2" />
    </div>

    <div>
        <button type="button" onclick="Add()" class="btn btn-success">Add</button>
        <button type="button" onclick="Sub()" class="btn btn-success">Sub</button>
        <button type="button" onclick="Mul()" class="btn btn-success">Mul</button>
        <button type="button" onclick="Div()" class="btn btn-success">Div</button>
        <button type="button" onclick="Cal()" class="btn btn-success">Calculte</button>
    </div>

    <div id="result"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        function Add()
        {
            var x = parseInt($("#value1").val());
            var y = parseInt($("#value2").val());

            $.ajax({
                type:"POST",
                url:"@Url.Action("Add","Home")",
                data: { num1:x,num2:y},
                dataType:"text",
                success:function(msg){
                    alert(msg)
                    console.log(msg)
                    $("#result").html(msg)
                },
                error:function(req,status,err){

                }
            })

        }

        function Div() {
            var x = parseInt($("#value1").val());
            var y = parseInt($("#value2").val());

            var res = x / y;

            $("#result").html(res);
        }
        

        function Sub() {
            var x = parseInt($("#value1").val());
            var y = parseInt($("#value2").val());

            var res = x - y;

            $("#result").html(res);
        }

        function Mul() {
            var x = parseInt($("#value1").val());
            var y = parseInt($("#value2").val());

            var res = x * y;

            $("#result").html(res);
        }

        function Cal() {
            var x = parseInt($("#value1").val());
            var y = parseInt($("#value2").val());
       
            $.ajax({
               
                type: "POST",
                url: "@Url.Action("CalculateNumber", "Home")",
                data: { num1: x, num2: y,"msg" : "measifalam" },
                dataType:"text",
                success: function (result) {
                    $("#result").html(result);

                },
                error:function(req,status,error)
                {
                    $("#result").html(error)
                }

            })
       }

    </script>

</div>
